@tailwind base;
@tailwind components;
@tailwind utilities;

ActionBar {
    background-color: #65adf1;
    color: white;
}

.m-icon-round {
    font-family: "Material Icons", "MaterialIconsRound-Regular";
    font-weight: 100;
    font-size: 32;
    color: #19e68c;
}